<!-- ============================================ -->
<!--              Outreach Disclaimer             -->
<!-- ============================================ -->

<section id="disclaimer-1402">
    <div class="cs-container">
        <div class="cs-content">
            <p class="cs-text">
                <strong>Please note:</strong> East Brampton Baptist Church does not distribute pamphlets or flyers of any kind that propagate fear to recruit membership.
            </p>
        </div>
    </div>
</section>