---
title: "About | East Brampton Baptist Church"
description: "Meta description for the page"
permalink: "/about/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1363">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/EBBC/image-placeholder.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://websthetic.tor1.cdn.digitaloceanspaces.com/EBBC/image-placeholder.png">
                <img loading="lazy" decoding="async" src="https://websthetic.tor1.cdn.digitaloceanspaces.com/EBBC/image-placeholder.png" alt="people" width="605868" height="690">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">About Us</h2>
            <p class="cs-text">
                East Brampton Baptist Church is an Independent Fundamental Baptist Church sharing the love of God in Brampton, Ontario. Please accept our personal invitation to come and visit with us soon. We look forward to meeting you!  
            </p>
            <a href="" class="cs-button-solid">Join Us This Sunday!</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

    {% include 'sections/cta.html' %}

{% endblock %}