---
title: "Contact | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/construction.jpg" | resize({ width: 576, height: 640 }) | avif %}"/>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-2320">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">We'd love to hear from you</h2>
            <!--Form-->
            <form class="cs-form" id="cs-form-323-2320" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" name="email" placeholder="Email">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Send Message</button>
            </form>
        </div>
        <!--Map Image, pin is made in the Figma then export as one image-->
        <div class="cs-map">
            <div class="cs-iframe-wrapper">
                <iframe src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.241826043726!2d-79.70148812399361!3d43.72630297109872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3db58e6ece7d%3A0xb7709e9127ad3b3c!2sEast%20Brampton%20Baptist%20Church!5e0!3m2!1sen!2sca!4v1770749001719!5m2!1sen!2sca"></iframe>
            </div>
            <div class="cs-box">
                <img class="cs-icon" decoding="async" loading="lazy" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/yellow-pin.svg" alt="icon" width="40" height="40" aria-hidden="true">
                <div class="cs-flex">
                    <span class="cs-header">Location</span>
                    <span class="cs-address">955 Clark Blvd, Brampton, ON L6T 5L3
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
                                

{% endblock %}