/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1363 {
        padding: var(--sectionPadding);
        background-color: var(--bodyTextColorWhite);
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: clamp(3rem, 6vw, 4rem);
            padding-top: 48px;
        }

        .cs-content {
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            font-size: clamp(2rem, 4vw, 3rem);
            line-height: 1.2em;
            font-weight: 400;
            max-width: 20ch;
            margin: 0 0 1rem 0;
            color: var(--headerColor);
        }

        .cs-text {
            font-size: 1.125rem;
            line-height: 1.6em;
            margin: 0 0 2rem 0;
            color: #5a5a5a;
        }

        .cs-image-group {
            width: 100%;
            max-width: (586/16rem);
            aspect-ratio: 1 / 1;
            border-radius: (24/16rem);
            overflow: hidden;
            position: relative;
            
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1363 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: clamp(3rem, 6vw, 5rem);
        }

        .cs-content {
            flex: 1;
            max-width: (540/16rem);
        }

        .cs-image-group {
            flex: 0 0 auto;
            aspect-ratio: 1 / 1;
            width: (600/16rem);
            max-width: (600/16rem);
            order: 2;
        }
    }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #sbsr-1363 {
        .cs-container {
            max-width: (1400/16rem);
        }
    }
}
